<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        colors="true"
        bootstrap="tests/config/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite name="cake-yaml testsuite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <file>/path/to/file</file>
        </whitelist>
    </filter>
</phpunit>